.DS_Store
.idea
.vscode
*.vcd
*.vvp
*.dot

# Ignore temporary files and build artifacts
*.log
*.tmp
*.swp

# Ensure SRAM macro library is not ignored
!libs/sky130_sram_macros/

.python-version
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
